.characters{
    display: grid;
    grid-template-columns: [first] auto [second] auto [third] auto [fourth] auto;
    gap: 30px 30px;
    justify-items: start;
    align-items: start;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}